extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner IS219 Project
    div.Message
      div.Title
        h3 Vartika Patel
      span.Details Login to access the Cities Database
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Profile
        a(href="/db")
          div.NavButton Database
      else
        a(href="/login")
          div.NavButton Log in